
body{
    background-color: #3ac8ae;
    color: #fff;
}
.wrapper {
    margin-left: 120px;
    width: 600px;
    border: 1px soild #eee;
}
.boder_styl {
  margin: 5px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #f7f7f7;
}
.boder_styl p {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
}
